/*add a normalise.css*/
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
html{
   font-size: 62.5%;
}
body{
  margin: 0;
  font-size: 1.4rem;
}

h1 span{
  font-weight: normal;
}

h2{
  margin-top: 0;
  font-size: 1.6rem;
}

a{
  color: #7477bf;
  text-decoration: none;
}
a:hover{
text-decoration: underline;
}

header{
  background-color: #686cb7;
  color: white;
  padding: 15px;
}
header h1{
  margin: 0;
}
nav{
  background: #444367;
  text-align: center;
}
nav ul{
margin:0;
color:white;
    padding: 0;
    display: flex;
    flex-direction: row;

}
nav ul > li{
  display: inline-block;
  padding:12px;
      width: 25%;
      position: relative;
}
nav ul > li img{
  width: 30px;
height: 30px;
    opacity: .6;
}
nav ul > li:hover img{
  opacity: .8;
}

nav ul > li.active img{
    opacity: 1;
}




.dashboard,
.daily-traffic,
.mobile-users,
.social-stats,
.new-members,
.recent-activity,
.message-user,
.settings{
padding:20px;
    border-bottom: 1px solid #ccc;
}

.alert{
  background: #7377bf;
  color:white;
  padding:12px;
  border-radius: 3px;
  margin-bottom: 20px;
}
.alert span{
font-weight: bold;
padding-right: 10px;

}

.social-stats .social-list{
  list-style-type: none;
  margin:0;
  padding: 0;
}

.social-stats .social-list li{
background: #f8f8f8;
display: block;
padding:20px;
margin-bottom: 10px;
border: 1px solid #e3e3e3;
border-radius: 3px;
}
.social-stats .social-list li:last-child{
  margin-bottom: 0;
}
.social-stats .social-list .social-icon{
  background: #7377bf;
  border-radius: 50%;
  display: inline-block;
}
.social-stats .social-list .social-icon .my-svg{
width:50px;
padding:10px;
}

.social-stats .social-list .social-info{
  display:inline-block;
  margin-left: 20px;
  vertical-align: top;
  color: #7477bf;
  font-weight: bold;
}
.social-stats .social-list .social-info span{
display: block;
font-size: 3rem;
font-weight: normal;
color: #333;
}

.members-list{
  list-style-type: none;
  margin: 0;
  padding:0;
}
.members-list li{
display: flex;
border-bottom: 1px solid #ccc;
padding: 10px 0;
}
.members-list li:last-child{
border-bottom: 0;
}
.members-list .member-img{
  width:65px;
  margin-right: 20px;
}
.members-list .member-img img{
border-radius: 50%;
width: 100%;
    min-width: 65px;
vertical-align: top;
}

.members-list .member-info{
padding-top: 15px;
margin-right: 20px;
}

.members-list .member-more{
padding-top: 25px;
margin-left: auto
}

/*Arrow*/

i {
  border: solid #686cb7;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*buttons**/

.btn{
  padding:12px;
  border-radius: 5px;
  border: 0;
  background: grey;
  cursor: pointer;
  text-transform: uppercase;
}
.btn:hover{
  opacity: .9;
}
.btn.btn-primary{
  background: #7377bf;
  color: white;
}

.btn.btn-secondary{
  background: #b2b2b2;
  color: white;
}




.message-user input,
.message-user textarea,
.message-user button{
  display:block;
  width:100%;
}
.message-user input,
.message-user textarea{
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 5px;
  background: #f6f6f6;
    margin-bottom: 15px;
}

.message-user textarea{
  min-height:100px;
}

/*Style toggle switch*/

.switch-ios.switch-light input:checked ~ span {
    border-color: #7377bf !important;
    box-shadow: inset 0 0 0 30px #7377bf !important;
}
.switch-ios.switch-light input:checked ~ span a{
  border-color: #7377bf !important;
}


.settings select{
  width: 100%;
  border: 1px solid #ccc;
padding: 15px;
height: 40px;
border-radius: 5px;
background: #f6f6f6;
}

/*wrap email when really long*/
.email-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.dashboard-header .dashboard-search input{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search { position: relative;}
.search .fa-search {
  position: absolute;
  top: 13px;
  right: 10px;
  font-size: 15px;
  color: #5e62bf;
}

/*Media queries*/

@media only screen and (min-width: 768px) {
  header{
grid-area: header;
}

nav{
grid-area: nav;
}

nav ul{
display: block;
margin: 15px 0;
}

nav ul > li {
    display: block;
    padding: 15px 0;
    width: 100%;
}

nav ul > li.active::before{
  content: '';
  border-left: 5px solid #85db80;
  border-radius: 0 5px 5px 0;
  height: 100%;
  position: absolute;
  left:0;
  top:0;
}

.dashboard-header{
grid-area: dashboard-header;
}

.dashboard{
grid-area: dashboard;
}

.daily-traffic{
grid-area: daily-traffic;
}

.mobile-users{
grid-area: mobile-users;
}

.social-stats{
grid-area: social-stats;
}

.new-members{
grid-area: new-members;
}

.recent-activity{
grid-area: recent-activity;
}

.message-user{
grid-area: message-user;
}

.settings{
grid-area: settings;
}

.dashboard-header{
  display: flex;
}

.dashboard-header .dashboard-title{
  padding: 20px;
}

.dashboard-header .dashboard-title h2{
  margin-bottom: 0;
}

.dashboard-header .dashboard-search{
  background: #f8f8f8;
    padding: 10px 20px 8px 0;
border-left: 1px solid #e3e3e3;
border-bottom: 1px solid #e3e3e3;
flex: 1;
    text-align: right;
}
.search {
  position: relative;
  max-width: 350px;
  float:right;
width: 100%;
}

.mobile-users,
.recent-activity,
.settings{
  border-left: 1px solid #ccc;
}

.message-user,
.settings{
  border-bottom: none;
}


  #container {
    display:grid;
    grid-template-columns: 70px 1fr 1fr;
    grid-template-areas:
"header header header"
"nav dashboard-header dashboard-header"
"nav dashboard dashboard"
"nav daily-traffic mobile-users"
"nav social-stats social-stats"
"nav new-members recent-activity"
"nav message-user settings";
}

.social-stats .social-list{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.social-stats .social-list li{
width:32%;
margin-bottom: 0;
}

}
